* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('https://www.transparenttextures.com/patterns/brushed-alum.png'); /* Textura metálica */
    background-color: #333; /* Cor de fundo base */
    background-size: cover;
    color: #fff;
}

.container {
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semitransparente para destacar o texto */
    padding: 20px;
    border-radius: 15px;
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header img {
    max-width: 200px;
    height: auto;
}

.about {
    text-align: center;
    margin-bottom: 2rem;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #444;
}

.about p {
    font-size: 1.1rem;
    color: #666;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.05);
}

.cta {
    text-align: center;
    margin-top: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.whatsapp-btn {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px; /* Bordas arredondadas */
    transition: transform 0.3s, box-shadow 0.3s;
}

.whatsapp-btn:hover {
    transform: scale(1.1); /* Efeito de zoom no hover */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}